.vam {
  vertical-align: middle;
}

.vat {
  vertical-align: top;
}

.vab {
  vertical-align: bottom;
}

.vabl {
  vertical-align: baseline;
}

.vatb {
  vertical-align: text-bottom;
}

.vatt {
  vertical-align: text-top;
}