// 1. Stepper
$stepper-bg-color: #fff;
$stepper-border-color: color('grey', 'lighten-1');

$stepper-title-color: rgba(#000, 0.38);
$stepper-title-active-color: rgba(#000, 0.87);

$stepper-title-summary-color: rgba(#000, 0.38);

$stepper-icon-color: #fff;
$stepper-icon-bg-color: rgba(#000, 0.38);
$stepper-icon-active-bg-color: $secondary-color;
